# Shared
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/booking_system
JWT_SECRET=super-secret-change-me

# API
API_PORT=4000
WEB_ORIGIN=http://localhost:3000

# Web
NEXT_PUBLIC_API_URL=http://localhost:4000
